* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    direction: ltr;
    font-family: Arial;
}


.page {
    max-width: 1000px;
    margin: 20px auto;
    border: 2px solid red;
}


.sidebar {
    float: left;
    width: 20%;
    border-right: 2px solid red;
    min-height: 380px; 
    padding: 20px;
}

.main {
    float: left;
    width: 80%;
    padding: 10px;
}


.box {
    border: 2px solid red;
    background: white;
    margin-bottom: 10px;
    padding: 10px;
}

.row-top .box {
    float: left;
    width: 24%; 
    margin-right: 1.33%;
    height: 100px;
}

.row-top .box:last-child {
    margin-right: 0;
}

.row-middle .left-col {
    float: left;
    width: 49.33%; 
}

.row-middle .left-col .box {
    height: 55px; 
}

.row-middle .right-col {
    float: left;
    width: 49.33%;
    margin-left: 1.34%;
}

.row-middle .right-col .box {
    height: 120px;
}

.row-bottom .big-left {
    float: left;
    width: 75%;
    height: 120px;
    margin-right: 1%;
    margin-bottom: 0;
}
.row-bottom .big-right {
    float: left;
    width: 24%;
    height: 120px;
    margin-bottom: 0;
}


.row::after,
.page::after {
    content: "";
    display: block;
    clear: both;
}


@media (max-width: 750px) {

    
    .page {
        height: auto;
        padding-bottom: 10px; 
    }

 
    .sidebar {
        float: none;
        width: calc(100% - 20px);
        height: 100px;
        margin: 10px auto;
        border: 2px solid red;
        border-right: none; 
        min-height: auto;
    }


    .main {
        float: none;
        width: 100%;
        padding: 0; 
    }

  
    .row-top .box,
    .row-middle .left-col,
    .row-middle .right-col,
    .row-middle .left-col .box,
    .row-middle .right-col .box,
    .row-bottom .big-left,
    .row-bottom .big-right {
        float: none;
        width: calc(100% - 20px);
        height: 100px;
        margin: 0 auto 10px auto;
        border: 2px solid red;
    }

  
    .row-middle .left-col .box {
        margin-bottom: 10px;
    }
    
    .row-middle .left-col,
    .row-middle .right-col {
        height: auto;
        margin: 0;
    }
}