
* {
    box-sizing: border-box; 
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0; 
}


.col-1 {
    float: left;
    width: 6.33%;    
    height: 100%;    
    border: 3px solid red; 
}

.col-11 {
    float: left;
    width: 93.66%; 
    height: 100%;
    border: 3px solid red; 
}


.row {
    float: left;
    width: 100%;
    height: 30%;      
    margin-top: 2.5vh; 
}


[class*="square-"] {
    float: left;
    border: 3px solid red;
    height: 100%;      
    margin-left: 2%;  
}

.square-1 {
    width: 22.5%;
}

.stacked {
    float: left;
    width: 47%;         
    height: 100%;
    margin-left: 2%;
    border: none;   
}

.square-3 {
    width: 47%;         
}

.stacked .square-2 {
    width: 100%;
    margin-left: 0;      
    height: 12.5vh;      
    margin-bottom: 5vh;
}

.square-4 {
    width: 71.5%;    
}

.square-5 {
    width: 22.5%; 
}

@media screen and (max-width: 750px) {
    .col-1, .col-11, .row, .stacked, [class*="square-"] {
        float: none;        
        width: 100%;       
        height: auto;    
        margin: 0;      
    }

    .col-1, [class*="square-"], .stacked .square-2 {
        height: 50px;        
        margin-bottom: 15px;
        border: 3px solid red;          
        display: block;                 
    }

}