
* {
    box-sizing: border-box; 
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}


.col-1 {
    flex: 0 0 6.33%;
    height: 100%;    
    border: 3px solid red; 
}

.col-11 {
    display: flex;
    flex-direction: column;
    flex: 0 0 93.66%;
    height: 100%;
    border: 3px solid red; 
}


.row {
    display: flex;
    width: 100%;
    height: 30%;      
    margin-top: 2.5vh; 
}


[class*="square-"] {
    flex-shrink: 0;
    border: 3px solid red;
    height: 100%;      
    margin-left: 2%;  
}

.square-1 {
    width: 22.5%;
}

.stacked {
    display: flex;
    flex-direction: column;
    flex: 0 0 47%;
    height: 100%;
    margin-left: 2%;
    border: none;   
}

.square-3 {
    width: 47%;         
}

.stacked .square-2 {
    width: 100%;
    margin-left: 0;      
    height: 12.5vh;      
    margin-bottom: 5vh;
}

.square-4 {
    width: 71.5%;    
}

.square-5 {
    width: 22.5%; 
}

@media screen and (max-width: 750px) {
    body {
        flex-direction: column;
    }

    .col-1, .col-11 {
        flex: 0 0 auto;
        width: 100%;
        height: auto;
    }

    .col-1 {
        height: 50px;
        margin-bottom: 15px;
    }

    .row, .stacked {
        flex-direction: column;
        flex: 0 0 auto;
        width: 100%;
        height: auto;
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 0;
    }

    [class*="square-"] {
        flex: 0 0 50px;
        width: 100%;
        height: 50px;
        margin-left: 0;
        margin-bottom: 15px;
    }

    .square-3 {
        width: 100%;
    }

    .stacked .square-2 {
        margin-bottom: 15px;
    }
}