
* {
    box-sizing: border-box;
    padding: 1px;
    margin: 1px;
}


main {
    background-color: #ffffff;
    width: 90%;
    max-width: 500px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #2b0c44;
}


ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


li a {
    display: block;
    padding: 15px;
    background-color: #cd84bf;
    border-radius: 8px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    transition: background-color 0.3s, transform 0.2s;
}


li a:hover {
    background-color: #d2e3fc;
    transform: translateY(-2px);
}